img {
    width: auto;
    height: 350px;
}

h1 {
    background-color: rgb(233, 192, 117);
}

h1, h2, h3{
    color: #6bbcc5;
}

body {
    color: #5d6469;
    background-color: rgb(235, 224, 206);
}

